<div id="highscores">
	<% if(scores.length > 0) { %>
		<h3>High Scores</h3>
		<% if(scores.length > 4) { %>
			<% for(var i = scores.length; i > scores.length - 5; i--) { %>
				<h6><strong><%= scores[i - 1].author.username %>: </strong><%= scores[i - 1].score %></h6>
			<% } %>
			<input class='lowestHighScore' style='display:none;' value='<%= scores[scores.length - 5].score %>'>
		<% } else if(scores.length > 3) { %>
			<% for(var i = scores.length; i > scores.length - 4; i--) { %>
				<h6><strong><%= scores[i - 1].author.username %>: </strong><%= scores[i - 1].score %></h6>
			<% } %>
			<input class='lowestHighScore' style='display:none;' value=''>
		<% } else if(scores.length > 2) { %>
			<% for(var i = scores.length; i > scores.length - 3; i--) { %>
				<h6><strong><%= scores[i - 1].author.username %>: </strong><%= scores[i - 1].score %></h6>
			<% } %>
			<input class='lowestHighScore' style='display:none;' value=''>
		<% } else if(scores.length > 1) { %>
			<% for(var i = scores.length; i > scores.length - 2; i--) { %>
				<h6><strong><%= scores[i - 1].author.username %>: </strong><%= scores[i - 1].score %></h6>
			<% } %>
			<input class='lowestHighScore' style='display:none;' value=''>
		<% } else { %>
			<% for(var i = scores.length; i > scores.length - 1; i--) { %>
				<h6><strong><%= scores[i - 1].author.username %>: </strong><%= scores[i - 1].score %></h6>
			<% } %>
			<input class='lowestHighScore' style='display:none;' value=''>
		<% } %>
	
		<br>
	
		<% for(var i = scores.length - 1; i >= 0; i--) { %>
			<% if(scores[i].author.username === currentUser.username) { %>
				<h6 style="color:rgba(90, 90, 130, 0.9);"><i><strong>Your Highest Score: </strong><%= scores[i].score %></i></h6>
				<input class='usershighscore' style='display:none;' value='<%= scores[i].score %>'>
				<% break; %>
			<% } %>
		<% } %>
	
	<% } %>
	<input class='lowestHighScore' style='display:none;' value=''>
	
</div>
