<html>
    
    <head>
        
        <meta charset="utf-8">
        
        <%- include("../../partials/sharedstyles") %>
        
        <style>
            
            .correctAnswer {
                position: relative; 
                -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
                animation-name: correct;
                animation-duration: 2s;
            }
            
            .incorrectAnswer {
                position: relative; 
                -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
                animation-name: incorrect;
                animation-duration: 2s;
            }
            
            #score {
                font-size: 1.0em; 
            }
            
            #popup {
                font-size: 1.5em;
                color: rgba(230,230,255,0.15);
            }
			
			#problemContainer {
                font-size: 1.5em;
            }
            
            @-webkit-keyframes correct {
                0%   {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top: 110px;}
          
                90% {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
                100% {visibility: hidden; display: none; font-size: 1em; margin: auto; width: 200px;}
            }
          
            @keyframes correct {
              0%   {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:110px;}
      
              90% {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
              100% {visibility: hidden; display: none; font-size: 1em; margin: auto; width: 200px;}
            }
            
            @-webkit-keyframes incorrect {
                0%   {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:110px;}
          
                90% {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
                100% {visibility: hidden; display: none; font-size: 1em; margin: auto; width: 200px;}
            }
          
            @keyframes incorrect {
              0%   {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:110px;}
      
              90% {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
              100% {visibility: hidden; display: none; font-size: 1em; margin: auto; width: 200px;}
            }
            
        </style>
    
    </head>
    
    <title>Hanson Division Game</title>
    
    <body>
		
		<%- include("../../partials/navbaronly") %>
        
        <div class="container">
        
            <h1>Hanson Division Game</h1>
			<h2 style='font-style: italic;'>Mental Long Division</h2>
            <hr>
			
			<%- include ("../../partials/highscores.ejs") %>
			
			<%- include ("../../partials/scoreform.ejs") %>
			
			<%- include ("../../partials/instructions/divisionlongmental.ejs") %>
			
			<div id="timer"></div>
			
			<%- include ("../../partials/timer.ejs") %>
        
            <button type="button" class="btn btn-secondary" id="startGame">START <i class="fas fa-play-circle"></i></button>
            <br>
            <button type="button" class="btn btn-secondary" id="resetGame">RESET <i class="fas fa-undo-alt"></i></button>
            <br>
            <br> 
          
            <div id='problemContainer'>
                
            </div>
			
			<div class="container scoreform" id="submitscore"></div>
            
            <div class='answerContainer' id='answerContainer'>
                <br>
                <div id = 'popup'> </div>
                <br>
                <h2>Answer</h2>
                
                <input id='answer' type='text' placeholder=''>
                
            </div>
            
            <br>
            
            <div class='scoreContainer'>
                
                <p id='score'>Current Score: </p>
            
                <h3>Problems to Practice:</h3>
                <p id='showAnswer'></p>
                
            </div>
			
			<!--include "../../partials/showpracticeproblems.ejs" here-->
            
        </div>
        
    </body>
    
    <script>

		let dividend = 0; 
		let dividends = [];
		let answerString = '' ;
		let dividendString = ''; 
		let answerStringCommas = '' ;
		let dividendStringCommas = ''; 
		let gameName = "Hanson Division Game Long Mental";  
		
		const scoreVar = document.querySelector('#score'); 
		const continueVar = document.querySelector('#answer');
        const startGameVar = document.querySelector('#startGame');
        const resetGameVar = document.querySelector('#resetGame');
        const showAnswerVar = document.querySelector('#showAnswer'); 
		const submitScoreVar = document.querySelector('#submitScore'); 
        const problemContainerVar = document.querySelector('#problemContainer'); 
		//const showPracticeProblemsVar = document.querySelector('#showPracticeProblems'); 
		
		let timerVar = document.querySelector("#timer");  
		let timerDiv = document.querySelector("#timerDiv"); 
		let timerCircle = document.querySelector("#timerCircle"); 
        
        //EVENTS
        
        startGameVar.addEventListener('click', startGame);
        resetGameVar.addEventListener('click', resetGame);
        continueVar.addEventListener('keydown', function(event) {
            if(event.keyCode === 13 && startGameVar.disabled == true) {
                checkAnswer(); 
            }
        });
		
		//INITIALIZE
		setUp(); 
        
        //FUNCTIONS
		
		function setUp() {
			
			resetOff();
			continueOff(); 
			problemContainerOff(); 
			
			timerVar.style.display = "none"; 
			timerDiv.style.display = "none"; 
			submitScoreVar.style.display = 'none'; 
			//showPracticeProblemsVar.style.display = 'none'; 
			
		}
        
        function startGame() {
            
			startOff(); 
			resetOff(); 
			continueOn(); 
			problemContainerOn(); 
			
			setUpTimer();
			
            createProblem(); 
			
        }
        
        function timeout() {
            
			endTimer(); 
			
			//alert('Time\'s Up!');
			
			resetOn();
			continueOff(); 
			
			problemContainerVar.style.color = 'green';
			//showPracticeProblemsVar.style.display = 'block'; 
			problemContainerVar.innerHTML = 'Final Score: ' + finalScore; 
            
			//create new score 
			
			if(finalScore > document.querySelector('.lowestHighScore').value || finalScore > document.querySelector('.usershighscore').value)
				{
					createNewScore(); 
				}
			
			//populate problems
			//populatePracticeProblems(); 
			
            }
        
        function resetGame() {
			
			//problemList = []; 
			
       		startOn(); 
			resetOff(); 
			clearTimer(); 
			continueOff(); 
			resetVariables();
			problemContainerOff(); 
			//createPracticeProblemsButton(); 
			
			continueVar.value = ''; 
			showAnswerVar.innerHTML = ''; 
			problemContainerVar.innerHTML = ''; 
			submitScoreVar.style.display = 'none'; 
			scoreVar.innerHTML = 'Current Score: '; 
			problemContainerVar.style.color = 'black'; 
			//showPracticeProblemsVar.style.display = 'none';
			continueVar.style.backgroundColor = 'rgba(255,255,255,1)';
			
        }
        
        function createProblem() {
			
			dividends = [];
			dividendString = ''; 
			dividendStringCommas = ''; 
   
            let divisor = Math.floor(Math.random() * 8 + 2);
			
			for(let i = 0; i < 3; i++)
				{
					let multiplier = Math.floor(Math.random() * 8 + 2); 
					dividends.push(multiplier * divisor); 
				}
			
			for(let i = 0; i < dividends.length; i++)
				{
					dividendString += String(dividends[i]); 
				}
			
			//get number dividend and answer
            dividend = Number(dividendString);
			answer = dividend / divisor;
			answerString = String(answer); 
			
			//see if there's a need to add comma to problem output
			if(dividendString.length > 3)
				{
					dividendStringCommas = addCommas(dividendString); 
					problem = dividendStringCommas + ' &#247; ' + divisor; 
				}
			else
				{
					problem = dividend + ' &#247; ' + divisor;
				}
			
			//see if there's a need to add comma to answer output 
			if(answerString.length > 3)
				{
					answerStringCommas = addCommas(answerString); 
				}
			else
				{
					answerStringCommas = answerString; 
				}
			
			//output problem
			problemContainerVar.innerHTML = problem; 
            
        }
		
		function addCommas(numberString) {
			
			let characterArray = []; 
			let stringWithCommas = ''; 
			let characterArrayCommas = []; 
			
            for(let i = 0; i < numberString.length; i++)
            {
                characterArray[i] = numberString[i];
            }
                
            for(let i = characterArray.length - 1; i >= 0; i--)
            {
                if(i === characterArray.length - 4)
                {
                    characterArrayCommas.unshift(','); 
                }
                characterArrayCommas.unshift(characterArray[i]); 
            }
                
            //Put the characterArrayCommas back into a string:
                
            for(let i = 0; i < characterArrayCommas.length; i++)
            {
                stringWithCommas += characterArrayCommas[i]; 
            }
			
			return stringWithCommas; 
			
		}
        
        function checkAnswer() {
			
            //let userInput = Number(continueVar.value);
			//let userInputString = continueVar.value; 
			
			let userInput = continueVar.value;
            
            //if(userInput === answer || userInputString === answerStringCommas)
			if(userInput === answerStringCommas || Number(userInput) === answer)
            {
                if(answer === 0 && continueVar.value === '')
                {
					//wrongAnswer(5000); 
					finalScore -= 5000;
					continueVar.style.backgroundColor = 'rgba(255,80,50,0.10)';
					document.getElementById('popup').innerHTML = 
						'<div class="incorrectAnswer"><i class="fas fa-thumbs-down"></i>' + ' -' + answerStringCommas + '</div>';
					//showAnswer(); 
					document.getElementById('showAnswer').innerHTML += problem + ' = ' + answerStringCommas + '<br>';
					
					//let thisProblem = new Problem(problem, answer); 
					//problemList.push(thisProblem.numbersentence); 
                }
                else
                {
					//correctAnswer(answer); 
					finalScore += answer;
					continueVar.style.backgroundColor = 'rgba(80,255,150,0.10)';
					document.getElementById('popup').innerHTML = 
						'<div class="correctAnswer"><i class="fas fa-thumbs-up"></i>' + ' +' + answerStringCommas + '</div>';
                }
            }
            else
            {
    			//wrongAnswer(answer);
				finalScore -= answer;
				continueVar.style.backgroundColor = 'rgba(255,80,50,0.10)';
				document.getElementById('popup').innerHTML = 
					'<div class="incorrectAnswer"><i class="fas fa-thumbs-down"></i>' + ' -' + answerStringCommas + '</div>';
				//showAnswer();
				document.getElementById('showAnswer').innerHTML += problem + ' = ' + answerStringCommas + '<br>';
				
				//let thisProblem = new Problem(problem, answer); 
				//problemList.push(thisProblem.numbersentence); 
            }
       
            showCurrentScore(); 
            
            continueVar.value = ''; 
            createProblem();
			
        }
        
    </script>
    
</html>